<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1DA1F2">
    <div class="my-auto mx-4">
        <a class="navbar-brand text-white" href="<%=root_path %>">Tweeter<i class="fab fa-twitter"></i></a>
    </div>
    <ul class="navbar-nav">
        <% if user_signed_in? %>
            <li><%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary mx-4'  %></li>
        <% else %>
            
            <li><%= button_to 'Log in', new_user_session_path, :class => 'btn btn-primary mx-4' %></li>
            <li><%= button_to 'Registration', new_user_registration_path, method: :get, :class => 'btn btn-primary mx-4' %></li>
        <% end %>
        <li><%= button_to 'My Friends', friends_path, method: :get, :class => 'btn btn-primary mx-4' %></li>
        <li><%= button_to 'My Profile', edit_user_registration_path, method: :get, :class => 'btn btn-primary mx-4' %></li>
    </ul>
    <% if user_signed_in?  %>
        <div class="container-fluid">
            <b><p style="color:black" >Welcome: <%= current_user.user_name %><img src="<%= current_user.user_photo %>" width="40" height="40" class="rounded-circle mb-2" ></p></b>
        </div>
    <%end%>
    
</nav>